.passwordInput {
	position: relative;
	margin-bottom: 12px;
}
.passwordInput svg {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--typography-secondary);
}
