.images {
	background-color: #fff;
	padding: 30px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	div {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		label {
			display: flex;
			align-items: center;
			gap: 12px;

			input {
				border: 1px solid var(--typography-secondary);
				padding: 16px;
				border-radius: 16px;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}