@import 'src/assets/styles/base/mixin';

.register {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 50px;
	width: 100%;
	padding: 160px 0;

	&>* {
		width: 305px;
	}

	h1 {
		@include adaptiv-font(36, 22, 36);
		font-weight: 600;
		line-height: 100%;
		text-align: center
	}



	.log {
		@include adaptiv-font(16, 12, 18);
		font-weight: 600;
		line-height: 130%;
		color: var(--brand-color-1);
		text-align: center;
	}

	button {
		width: 100%;
		background-color: var(--brand-color-1);
		border-radius: 16px;
		@include adaptiv-font(16, 12, 18);
		font-weight: 600;
		line-height: 130%;
	}

	.verification {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
}

form {
	display: flex;
	flex-direction: column;
}

input {
	width: 100%;
	border-radius: 16px;
	padding: 13px 20px 13px 30px;
	border: 1px solid var(--brand-color-1);
	background: var(--typography-light);
}