.audio {
	background-color: #fff;
	padding: 30px;
	border-radius: 16px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	row-gap: 30px;
	display: flex;
	min-height: 80vh;

	.left {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		.wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.input {
				position: relative;

				input {
					border: 1px solid var(--typography-secondary);
					padding: 16px;
					border-radius: 16px;
					min-width: 400px;
				}

				svg {
					position: absolute;
					top: 16px;
					right: 16px;
					color: var(--typography-secondary);
				}

			}
		}

		ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			row-gap: 20px;

			li {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 10px;

			}
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		label {
			display: flex;
			align-items: center;
			gap: 16px;

			input {
				border: 1px solid var(--typography-secondary);
				padding: 16px;
				border-radius: 16px;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

		}
	}
}