@import 'src/assets/styles/base/mixin';

.book_info {
  display: flex;
  flex-direction: column;

  .book {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 60px 80px;
    gap: 75px;

    @media (max-width: 850px) {
      grid-template-columns: 100%;
      padding: 40px;
      gap: 40px;
    }

    @media (max-width: 600px) {
      padding: 20px;
      gap: 20px;
    }

    .image {
      img {
        width: 415px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        @media (max-width: 1300px) {
          width: 30vw;
        }

        @media (max-width: 850px) {
          width: 40vw;
        }
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      padding-right: 70px;

      @media (max-width: 850px) {
        padding-right: 0;
      }

      h1 {
        @include adaptiv-font(48, 36, 48);
        font-weight: 600;
        line-height: 130%;
        word-break: break-all;
        padding-right: 30px;
      }

      h4 {
        @include adaptiv-font(20, 16, 22);
        font-weight: 400;
        line-height: 130%;
      }

      p {
        @include adaptiv-font(16, 12, 18);
        font-weight: 400;
        line-height: 150%;
      }

      .categories {
        span {
          background-color: rgba(101, 27, 147, 0.7);
          border-radius: 100px;
          padding: 5px 12px;
          text-align: center;
          @include adaptiv-font(12, 8, 14);
          font-weight: 500;
          color: var(--typography-light);
        }
      }

      h2 {
        @include adaptiv-font(36, 22, 36);
        font-weight: 600;
        line-height: 100%;
      }

      .btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .headset {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 6px 14px;
        }

        img {
          cursor: pointer;
          width: 30px;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .votes {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 16px;

        .vote_btns {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }

  .testimonials {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (max-width: 850px) {
      padding: 40px;
      flex-wrap: wrap;
      gap: 40px;
    }

    @media (max-width: 600px) {
      padding: 20px;
      gap: 20px;
    }

    h1 {
      @include adaptiv-font(36, 22, 36);
      font-weight: 500;
      line-height: 100%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 24px;
      border-top: 1px solid var(--typography-secondary);
      opacity: 0.75;

      .user_testimonial {
        display: flex;
        align-items: flex-start;
        padding: 30px 10% 0;
        gap: 24px;

        .avatar {
          width: 54px;
        }

        .text {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          background-color: rgba(161, 161, 161, 0.15);
          border-radius: 16px;
          padding: 16px 24px 24px;

          .name {
            display: flex;
            align-items: center;
            gap: 14px;

            @media (max-width: 600px) {
              flex-direction: column;
            }

            h4 {
              @include adaptiv-font(20, 16, 22);
              font-weight: 500;
              line-height: 130%;
            }
          }

          p {
            @include adaptiv-font(16, 12, 18);
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }

  .report {
    padding: 30px 80px;
    background-color: var(--brand-color-3);
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (max-width: 850px) {
      padding: 40px 40px;
    }

    @media (max-width: 600px) {
      padding: 20px 20px;
      gap: 20px;
    }

    .notlogged {
      text-align: center;
      @include adaptiv-font(24, 18, 24);
      font-weight: 500;
    }

    .head {
      padding: 0 10%;
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 850px) {
        flex-direction: column;
        align-items: flex-start;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 130%;
      }
    }

    .text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
      padding: 0 10%;

      img {
        width: 54px;
      }

      @media (max-width: 850px) {
        flex-direction: column;
      }

      textarea {
        resize: none;
        width: 100%;
        min-height: 80px;
        border-radius: 16px;
        padding: 10px 20px;
        @include adaptiv-font(16, 12, 18);
        font-weight: 400;
        line-height: 150%;
      }

      button {
        padding: 10px 24px;
        @include adaptiv-font(16, 12, 18);
        font-weight: 600;
        line-height: 130%;
        color: var(--typography-light);
        height: auto;
        border-radius: 16px;
        box-shadow: 0px 2px 6px 0px rgba(255, 158, 48, 0.1);
      }
    }
  }
}

.empty {
  text-align: center;
  margin-bottom: 100px !important;
  font-weight: 500;
}
