.frame {
	background-color: var(--brand-color-1);
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 1050px) {
		height: 800px;
	}
	@media (max-width: 600px) {
		height: 600px;
	}

	.iframe {
		width: 800px;
		height: 500px;
		z-index: 100;

		@media (max-width: 1300px) {
			height: 400px;
			width: 700px;
		}
		@media (max-width: 1050px) {
			width: 100%;
			height: 50%;
		}
	}
	.image1 {
		position: absolute;
		top: 80px;
		left: 250px;

		@media (max-width: 1300px) {
			left: 200px;
		}
		@media (max-width: 1200px) {
			left: 150px;
			top: 120px;
		}
		@media (max-width: 1050px) {
			display: none;
		}
	}
	.image3 {
		position: absolute;
		top: 0;
		left: 1000px;
		@media (max-width: 1300px) {
			left: 850px;
		}
		@media (max-width: 1200px) {
			left: 750px;
			top: 30px;
		}
		@media (max-width: 1050px) {
			display: none;
		}
	}
	.image2 {
		position: absolute;
		top: 500px;
		left: 1080px;
		@media (max-width: 1300px) {
			left: 900px;
			top: 450px;
		}
		@media (max-width: 1200px) {
			left: 830px;
			top: 450px;
		}
		@media (max-width: 1050px) {
			display: none;
		}
	}
	.image4 {
		position: absolute;
		top: 500px;
		left: 250px;
		@media (max-width: 1300px) {
			left: 200px;
			top: 450px;
		}
		@media (max-width: 1200px) {
			left: 150px;
			top: 450px;
		}
		@media (max-width: 1050px) {
			display: none;
		}
	}
	.border {
		position: absolute;
		top: 50px;
		left: 300px;

		@media (max-width: 1300px) {
			top: 150px;
			left: 250px;
		}
		@media (max-width: 1200px) {
			top: 100px;
			left: 200px;
		}
		@media (max-width: 1050px) {
			display: none;
		}
		img {
			@media (max-width: 1300px) {
				width: 400px;
			}
			@media (max-width: 1200px) {
				width: 350px;
			}
		}
	}
}
