@import 'src/assets/styles/base/mixin';

.category {
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	background-color: var(--brand-color-4);

	@media (max-width: 820px) {
		padding: 20px 40px;
	}

	@media (max-width: 500px) {
		padding: 20px 20px;
	}

	h1 {
		@include adaptiv-font(48, 36, 48);
		font-weight: 600;
		line-height: 130%;
		opacity: 0.75;
	}

	.books {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 30px;
		margin-bottom: 220px;
	}
}