.navbar {
	position: fixed;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	background-color: var(--brand-color-2);
	min-height: 100vh;
	padding: 30px;
	z-index: 999;
	overflow: auto;

	img {
		cursor: pointer;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		color: var(--typography-light);

		div {
			display: flex;
			align-items: center;
			gap: 12px;
			font-size: 20px;
			padding: 10px 20px;
			border-radius: 16px;
			cursor: pointer;

			&:hover {
				background-color: rgba($color: #000000, $alpha: 0.1);
			}

			a {
				color: var(--typography-light);
			}

			&.active {
				background-color: rgba($color: #000000, $alpha: 0.2);
			}
		}
	}


}