@import 'src/assets/styles/base/mixin';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 80px;
	background-color: var(--brand-color-1);

	@media (max-width: 820px) {
		padding: 15px 40px;
	}

	@media (max-width: 500px) {
		padding: 5px 20px;
	}

	.hamburger {
		display: none;
		color: #fff;
		z-index: 101;

		@media (max-width: 820px) {
			display: block;
		}
	}
}

.hide {
	transition: all 0.2s ease-in-out;
	transform: translatex(100%);
	display: flex;
	background-color: var(--brand-color-1);
	flex-direction: column;
	position: fixed !important;
	padding-top: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

.hLinks {
	transition: all 0.2s ease-in-out;
	transform: translatex(0);
	background-color: var(--brand-color-1);
	position: fixed !important;
	padding: 30px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	z-index: 10;
	display: flex;
	flex-direction: column;
	row-gap: 20px;


	.menuItem {
		@include adaptiv-font(16, 12, 18);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 12px;
		color: #fff !important;

		img {
			width: 22px;
		}

		a {
			color: #fff !important;
		}
	}

	.guestMenu {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		.guestMenuItem {
			display: flex;
			gap: 12px;
			justify-content: flex-start;
			align-items: center;
			@include adaptiv-font(16, 12, 18);
			font-weight: 600;
			color: #fff;

			svg {
				font-size: 28px;
			}
		}
	}
}