.modal {

	label {
		background-color: var(--brand-color-3) !important;
		display: flex;
		align-items: center;
		gap: 12px;
		margin: 15px 0;
		border-radius: 16px;
		padding: 10px 20px;
		font-size: 18px;
		white-space: nowrap;

		input {
			background-color: #fff;
			border-radius: 16px;
		}
	}
}