.app {
	--typography-primary: #202020;
	--typography-secondary: #a1a1a1;
	--typography-light: #fff;

	--brand-color-1: #2d71ae;
	--brand-color-2: #83a5c8;
	--brand-color-3: #d7e7f8;
	--brand-color-4: #f9fcff;
	--brand-color-5: #ffbe84;

	--illustration-color-1: #263238;

	--additional-color-2: #e27a7a;
	--additional-color-4: #ff9e30;
}

.ant-select,
.ant-select-selector {
	width: 100% !important;
}

.ant-form-item {
	margin-bottom: 0 !important;
}