@import 'src/assets/styles/base/mixin';

.cart {
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  row-gap: 30px;

  @media (max-width: 750px) {
    padding: 30px 30px;
  }

  @media (max-width: 500px) {
    padding: 20px 20px;
  }
  h1 {
    @include adaptiv-font(48, 36, 48);
    font-weight: 600;
    line-height: 130%;
    opacity: 0.75;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
    .books {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .book {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 630px;
        word-break: break-all;

        @media (max-width: 700px) {
          width: 90vw;
        }
        @media (max-width: 500px) {
          gap: 10px;
        }

        img {
          border: 1px solid;
          width: 100px;
          border-radius: 16px;
        }

        .text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px;
          width: 100%;
          .name {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            h4 {
              @include adaptiv-font(16, 12, 18);
              font-weight: 500;
              line-height: 150%;
              padding-right: 20px;
            }
            p {
              @include adaptiv-font(12, 8, 14);
              font-weight: 400;
              line-height: 130%;
              color: #585858;
            }
          }
          .price {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            h2 {
              @include adaptiv-font(20, 16, 22);
              font-weight: 600;
              line-height: 130%;
              color: rgba(32, 32, 32, 0.75);
              white-space: nowrap;
            }
            p {
              img {
                width: 14px;
              }
              font-size: 10px;
              font-weight: 400;
              line-height: 100%;
              color: #8d8e8f;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 6px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .box {
      width: 420px;
      display: flex;
      flex-direction: column;
      padding: 24px;
      row-gap: 24px;
      border: 1px solid var(--brand-color-2);
      border-radius: 16px;
      background: var(--brand-color-4);
      p {
        @include adaptiv-font(20, 16, 22);
        font-weight: 500;
        line-height: 130%;
      }
    }
  }
}
