.narrator {
	background-color: #fff;
	padding: 30px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	.add {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.btns {

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	input {
		border-bottom: 1px solid var(--typography-secondary);
		padding: 10px;
		width: 100%;
	}
}