@import 'src/assets/styles/base/mixin';

.AdminBookInfo {
	background-color: #fff;
	border-radius: 16px;
	display: flex;
	align-items: flex-start;
	padding: 30px;
	gap: 20px;

	.info {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 30px;

		.images {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			row-gap: 30px;

			img {
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				width: 200px;
			}

			.img {
				display: flex;
				align-items: flex-start;
				gap: 15px;

				button {
					background-color: transparent;
					color: red;
					font-size: 20px;
				}
			}
		}

		.text {
			width: 40vw;
			display: flex;
			flex-direction: column;
			row-gap: 10px;

			h5 {
				@include adaptiv-font(16, 12, 16);
				font-weight: 600;
			}

			p {
				@include adaptiv-font(14, 12, 14);
				font-weight: 400;
			}

			h5 {
				@include adaptiv-font(14, 12, 14);
				font-weight: 600;
			}

			.narrators,
			.genres {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 12px;
			}

			.audios {
				display: flex;
				flex-direction: column;
				row-gap: 30px;

				.audio {
					display: flex;
					align-items: center;
					gap: 20px;

					button {
						background: transparent;
						color: red;
						font-size: 20px;
					}
				}
			}
		}
	}

	.audio_image {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		.btns {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;

			button.active {
				background-color: var(--brand-color-3);
			}
		}

		label {
			display: flex;
			align-items: center;
			gap: 16px;
			white-space: nowrap;

			input {
				border: 1px solid var(--typography-secondary);
				padding: 16px;
				border-radius: 16px;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

		}

		.img {
			max-width: 500px;
			display: flex;
			flex-direction: column;
			row-gap: 30px;

			label {
				display: flex;
				align-items: center;
				gap: 12px;
				white-space: nowrap;

				input {
					border: 1px solid var(--typography-secondary);
					padding: 16px;
					border-radius: 16px;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}
}